<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    <title>SPS</title>
</head>

<body>

    <div class="jumbotron" id="header">
        <div class="container">
            <h1 id="title">Stone Paper Scissors</h1>
            <hr class="my-4">
            <p>Send this link to the player -
                <span id="link"></span>
            </p>
        </div>

    </div>
    <div class="container">
        <div id="scoreboard"  style="display: flex; justify-content: space-between">
            <div class="ele">
                You -
                <span id="yourScoreSpan">0</span>
            </div>
            <div>
            </div>
            <div class="ele">
                <span id="theirScoreSpan">0</span>
                - Them
            </div>

        </div>
        <div id="options" style="display: flex; justify-content: space-between">
            <div class="option">Stone</div>
            <div class="option">Paper</div>
            <div class="option">Scissors</div>
        </div>
        <div id="resultBox">
            <p>You chose ->
                <span id="youChose"></span>
            </p>
            <p>They chose ->
                <span id="theyChose"></span>
            </p>
            <div id="result" class="alert" role="alert">
                THEY WON
            </div>
            <button id="reset">Play Again</button>
        </div>
    </div>

    <script src="/play.js"></script>
</body>

</html>